**/csv
**/target
**/bin
**/build
**/.checkstyle
**/.DS_Store
**/.settings
**/.project
**/.classpath
**/.dbeaver-temp
**/.metadata
**/.recommenders
**/.gradle
**/RemoteSystemsTempFiles
**/logs

zmisc/
TASKs.txt

**/client_secret.json
**/cloudhub-aws.properties